<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564258632249-g05mdrkjcsdqm2uoqimvn1n49f298p4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564258632249-g05mdrkjcsdqm2uoqimvn1n49f298p4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9FJOaBmrUc_RK1EzyzAkGP6cviCjWZs</string>
	<key>GCM_SENDER_ID</key>
	<string>564258632249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workshopFlutter</string>
	<key>PROJECT_ID</key>
	<string>workshop-flutter-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>workshop-flutter-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564258632249:ios:e17d92f0e2f62280</string>
	<key>DATABASE_URL</key>
	<string>https://workshop-flutter-2019.firebaseio.com</string>
</dict>
</plist>